const arabicToEnglish = (string) => {
  const x = string.replace(/[^0-9٠-٩]+/g, "");
  return x.replace(/[٠-٩]/g, (digit) => "٠١٢٣٤٥٦٧٨٩".indexOf(digit));
};

class {
  onCreate() {
    this.state = { number: "" };
  }
}

<label>This input changes arabic numbers to english numbers! </label>

<input
  value=(state.number)
  on-input(event => state.number = arabicToEnglish(event.target.value))
/>